{% load staticfiles %}
<html>
    <head>
        <title>Burcu Altınok's Django Blog</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="">Burcu Altınok's Blog</a></h1>
        </div>
    <div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
                <div class="post">
                    <div class="date">
                        {{ post.yayinlanma_tarihi }}
                    </div>
                    <h1><a href="">{{ post.baslik }}</a></h1>
                    <p>{{ post.yazi|linebreaks }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
    </body>
</html>
